<img src="img/dsci513_header2.png" width="600">

# Lab 4: MongoDB query language

## Instructions
---
rubric={mechanics:2}

- Follow the [general lab instructions](https://ubc-mds.github.io/resources_pages/general_lab_instructions/)
- Make sure to upload a PDF version of your lab notebook to Gradescope, in addition to the `.ipynb` file.
- Add a link to your GitHub repository here:

## Getting set up
---

In [ ]:
from pymongo import MongoClient
import json

with open('data/credentials_mongodb.json') as f:
    login = json.load(f)

client = MongoClient(**login)

## Exercise 1: Getting to know your MongoDB databases
---

### 1.1

rubric={accuracy:1}

List the databases that exist on your MongoDB Atlas cluster after loading sample databases. You can do this either by checking out the databases using Compass or by using `pymongo`'s `.list_database_names()` method.

In [ ]:
...

### 1.2

rubric={accuracy:1}

List the collections stored in the `sample_mflix` and `sample_analytics` databases. You can do this either by checking out the databases using Compass or by using `pymongo`'s `.list_collection_names()` method.

In [ ]:
...

### 1.3

rubric={accuracy:2}

We would like to create a summary report to get the number of documents in each collection of each database on our cluster. Write a python loop that produces an output similar to the following:

```
Database: sample_mflix
(collection, n_docs) =  ('comments', 41079)
(collection, n_docs) =  ('movies', 23530)
(collection, n_docs) =  ('theaters', 1564)
(collection, n_docs) =  ('users', 185)
(collection, n_docs) =  ('sessions', 1)

Database: sample_analytics
(collection, n_docs) =  ('transactions', 1746)
(collection, n_docs) =  ('accounts', 1746)
(collection, n_docs) =  ('customers', 500)
.
.
.
```

In previous questions, you've been introduced to the two methods of `pymongo` which are used to return database and collection names. Moreover, you can use the `.count_documents(filter={}))` method to count all documents in each collection.

**Note:** Skip `admin` and `local` databases in your loop.

In [ ]:
...

### 1.4

rubric={accuracy:1}

The _Schema_ tab of the Compass application provides a nice schema analyzer tool that helps to quickly obtain summary information about collections in a database both visually and in text format.

Suppose that we would like to find out how high-rated movies/TV series on _metacritic_ are rated on IMDB. Use the schema analyzer tool to find the distribution of the `imdb.rating` field for movies/TV series in the `sample_mflix` database that have a `metacritic` rating of greater than 90. Paste a screenshot of the distribution that you find here.

**Hint:** There are 111 documents with a `metacritic` rating of greater than 90.

_Your answer goes here_

## Exercise 2: Basic MongoDB queries
---

### 2.1

rubric={accuracy:1}

Retrieve one (random) document associated with some movie/TV series produced in 2015.

You can use `.find_one()` method to do this, or use `.find()` but limit your results to 1 document.

In [ ]:
...

### 2.2

rubric={accuracy:1}

Retrieve all TV series produced in 1995.

> **Hint:** Inspect possible values for the `type` field.

In [ ]:
...

### 2.3

rubric={accuracy:2}

Retrieve the title and cast of movies/TV series produced in 2010, but limit your results to 5 documents.

> **Note:** Don't forget to exclude the `_id` field from your returned documents.

> **Note:** The exact returned documents returned by `pymongo` might be different in different sessions and on different computers. This is perfectly fine.

In [ ]:
...

### 2.4

rubric={accuracy:2}

Retrieve the top 15 movies produced in 2010 that have the longest duration. Exclude TV series from your results. The returned documents should only contain the `title` and `runtime` fields (exclude the `_id` field).

> **Note:** It's ok if your results contain duplicate movies.

In [ ]:
...

### 2.5

rubric={accuracy:2}

For each year between 2010 and 2015 (inclusive), return the number of movies/TV series with a metacritic rating of exactly 90. Your results should look like this:

```
2010: 2
2011: 2
2012: 1
2013: 2
2014: 1
2015: 3
```

In [ ]:
...

### 2.6

rubric={accuracy:2}

Retrieve the title and runtime of the 10 shortest movies in the `movies` collection.

For this exercise, you need to make sure that the field `runtime` exists in the returned documents, otherwise by default those documents would appear first which don't have a `runtime` field at all!

> **Hint:** You need the `$exists` operator (see [here](https://docs.mongodb.com/manual/reference/operator/query/exists/) for help).

In [ ]:
...

### 2.7

rubric={accuracy:2}

Retrieve documents for movies/TV series whose title contains two digits at the end, separated by a space (e.g. "Apollo 13").

- Your results should only contain the `title` and `year` fields
- Sort the documents first by production year in descending order, and then alphabetically by title in ascending order.
- Limit your results to 15 documents.

> **Note:** It's ok if your results contain duplicates.

In [ ]:
...

## Exercise 3: Conditionals, embedded documents & arrays
---

### 3.1

rubric={accuracy:2}

Retrieve the title, production year, and number of awards of all movies that

- have been produced between 1950 and 2000 (inclusive)
- have an IMDB rating of 8.5 or better
- won at least 30 awards.

Sort the results by production year in descending order.

In [ ]:
...

### 3.2

rubric={accuracy:2}

Find the top 15 highest-rated movies according to IMDB for movies that have at least 100,000 votes. Your returned documents should only contain the `title`, `year`, and `imdb.rating` fields.

> **Hint:** Be careful about documents which have a blank space in their `imdb.rating` field!

> **Note:** It's ok if your results contain duplicates. Return 15 documents in any case.

In [ ]:
...

### 3.3

rubric={accuracy:2}

There is one **thriller** movie in the `movies` collection which has a single digit within a word in its title (e.g. "one2one"). Return the document associated with that movie. Only include the `title`, `year`, `genres`, and `cast` fields.

In [ ]:
...

### 3.4

rubric={accuracy:1}

Retrieve the title, production year, and IMDB rating of movies in which both **Morgan Freeman** and **Clint Eastwood** played a role (among other actors in those movies). Sort the returned documents by year in descending order.

In [ ]:
...

### 3.5

rubric={accuracy:3}

Retrieve documents associated with movies which:

- are available in both German and French (among other languages), but not in English,
- are either rated above 8 according to IMDB, or above 7.5 according to the critic ratings of [Rotten Tomatoes](https://www.rottentomatoes.com/) (inspect the `tomatoes` field),
- have at least 50 Rotten Tomatoes critic reviews.

The returned documents should include the title, year, IMDB rating, Rotten Tomatoes critic rating and country of production fields. Sort the results by IMDB rating in descending order.

**Note:** Duplicates in the results are ok.

In [ ]:
...

### 3.6

rubric={accuracy:2}

Find the title and production year of the top 20 award-winning movies which have **not** been produced in USA, Canada, UK, or Australia.

**Note:** Duplicates are ok. Return 20 documents in any case.

In [ ]:
...

## Exercise 4: Aggregation pipelines
---

For this exercise, my suggestion is for you to create your pipelines in Compass. Once you're happy with the results, you can use the "Export pipeline code to language" button (right next to the green SAVE button) to get the Python code for your pipeline, and use it here in the lab's Jupyter Notebook. One good thing about constructing pipelines in Compass is that you can also see intermediate results after each stage.

If your comfortable with `pymongo`, feel free to write your pipelines directly here.

### 4.1

rubric={accuracy:2}

Let's start by creating a simple pipeline that does a similar job as Exercise [3.6](#3.6):

> Find the title and production year of the top 20 award-winning movies which have **not** been produced in USA, Canada, UK, or Australia.

In addition, promote the `imdb.rating` subfield to show up as an independent field named `imdbRating` in the resulting documents.

Don't forget to check if you get the same movies as in Exercise [3.6](#3.6)!

In [ ]:
...

### 4.2

rubric={reasoning:1}

Does the order of stages in the previous question matter? Provide an example and explain why.

_Your answer goes here_

### 4.3

rubric={accuracy:2}

Count the number of movies (not TV series) produced in the USA per year, in and after the year 2000. Sort your results by year in ascending order.

Your results should look like this:

```
[{'_id': 2000, 'num_of_movies': 341},
 {'_id': 2001, 'num_of_movies': 318},
 {'_id': 2002, 'num_of_movies': 337},
.
.
.
]
```

In [ ]:
...

### 4.4

rubric={accuracy:1}

Can you make the output of the previous exercise look like this?

```
[{'num_of_movies': 341, 'prod_year': 2000},
 {'num_of_movies': 318, 'prod_year': 2001},
 {'num_of_movies': 337, 'prod_year': 2002},
.
.
.
]
```

**Note:** The order in which different fields appear in the results does not matter.

In [ ]:
...

### 4.5

rubric={accuracy:2}

Create an aggregation pipeline that lists the top 10 most common movie languages, along with the count of movies for each language. Sort your results based on the count in descending order.

Your results should look like this:

```
[{'_id': 'English', 'num_of_movies': 16048},
 {'_id': 'French', 'num_of_movies': 2800},
 {'_id': 'Spanish', 'num_of_movies': 1787},
 .
 .
 .
 ]
 ```
 
> **Hint:** Languages are listed in an array, so they need special treatment before grouping.

In [ ]:
...

### 4.6

rubric={accuracy:3}

Create an aggregation pipeline that lists the top 15 busiest directors along with the number of movies they have directed. Your pipeline should also return the average IMDB rating of the movies directed by each director, **rounded to 1 decimal digit**.

Your results should look like this:

```
[{'_id': 'Woody Allen', 'num_of_movies': 40, 'avg_imdb_rating': 7.2},
 {'_id': 'John Ford', 'num_of_movies': 35, 'avg_imdb_rating': 7.2},
 {'_id': 'Takashi Miike', 'num_of_movies': 34, 'avg_imdb_rating': 6.9},
 .
 .
 .
 ]
```
 
> **Hint:** Directors are listed in an array, so they need special treatment before grouping.

> **Hint:** You can use the `$round` operator in a projection stage to round the average IMDB rating values (see [here](https://docs.mongodb.com/manual/reference/operator/aggregation/round/) for help).

In [ ]:
...

## Exercise 5: But I only speak SQL!
---

Recently, a software engineer has joined your team who is well-seasoned in SQL, but has never used MongoDB. Your supervisor knows that you've had some experience with MongoDB in the MDS program, so she asks you to help translate the SQL queries written by the new software engineer to MongoDB queries. Your MongoDB queries will be used in a NoSQL-based application developed by your company.

In the following questions, imagine that each document is a row in a table, and each field represents a column. Also, imagine that in our hypothetical table, documents with array fields appear as multiple rows, each row having one of the array elements in that particular array field.

Try to translate each SQL query to its equivalent MongoDB query as if your collection was a table (i.e. relation) in a relational database.

### 5.1

rubric={accuracy:3}

```sql
SELECT
    countries, COUNT(*) AS count_movies
FROM
    movies
WHERE
    imdb_rating > 8
GROUP BY
    countries
ORDER BY
    count_movies DESC
LIMIT
    20
```

In [ ]:
...

### 5.2

rubric={accuracy:2}

```sql
SELECT
    directors, MAX(awards_wins) AS max_awards_wins
FROM
    movies
GROUP BY
    directors
ORDER BY
    max_awards_wins DESC
LIMIT
    10
```

In [ ]:
...

### 5.3

Well, I don't feel good about making you think of NoSQL databases in terms of the relations, rows, and columns. But I really want to make it up to you, so I'm hoping you'll find this one funny:

<img src="img/nosql_cartoon.jpeg" width="600">

([image source](https://www.deviantart.com/harshadpd/art/Relational-Issues-719533744))